<section class="py-16 px-5 {{ section.settings.background }}">
  <div class="container mx-auto flex flex-col gap-10">
    <div>
      <h3 class="text-center text-3xl font-semibold text-base-content">
        {{ section.settings.title }}
      </h3>
      <h4 class="text-center text-base-content">
        {{ section.settings.subtitle }}
      </h4>
    </div>


    <section class="flex justify-center gap-10 flex-wrap 2xl:gap-20">
      {% for product in section.settings.product_list %}
        <article class="flex flex-col items-center gap-5">
          <img
            class="rounded-full"
            src="{{ product.featured_image | img_url: '300x300' }}"
            alt="" />

          <div class="flex flex-col items-center">
            <h5 class="text-xl font-medium text-base-content">
              {{ product.title }}
            </h5>
            <p style="max-width:32ch;" class="text-base-content text-center">
              {{ product.description | strip_html | truncatewords: 10 }}
            </p>
          </div>

          <a class="max-w-fit btn btn-neutral" href="{{ product.url }}">
            View product
          </a>
        </article>
      {% endfor %}
    </section>
  </div>
</section>

{% schema %}
  {
    "name": "Featured products",
    "templates": [
      "index", "page", "product"
    ],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured products"
      }, {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Check out our latest products"
      }, {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 3
      }, {
        "type": "select",
        "id": "background",
        "label": "Background",
        "default": "bg-base-100",
        "options": [
          {
            "label": "Background 1",
            "value": "bg-base-100"
          }, {
            "label": "Background 2",
            "value": "bg-base-200"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured products",
        "category": "Products"
      }
    ]
  }
{% endschema %}