<section class="py-16 px-5 {{ section.settings.background }}">
  <div class="container mx-auto flex flex-col gap-10">
    <div>
      <h3 class="text-center text-3xl font-semibold {{ section.settings.text }}">
        {{ section.settings.title }}
      </h3>
      <h4 class="text-center {{ section.settings.text }}">
        {{ section.settings.subtitle }}
      </h4>
    </div>


    <section class="flex justify-center gap-10 flex-wrap 2xl:gap-20">
      {% for product in section.settings.product_list %}
        <article class="flex flex-col items-center gap-5">
          <img
            class="rounded-full"
            src="{{ product.featured_image | img_url: '300x300' }}"
            alt="" />

          <div class="flex flex-col items-center">
            <h5 class="text-xl font-medium {{ section.settings.text }}">
              {{ product.title }}
            </h5>
            <p style="max-width:32ch;" class="{{ section.settings.text }} text-center">
              {{ product.description | strip_html | truncatewords: 10 }}
            </p>
          </div>

          <a class="max-w-fit {{ section.settings.button_variant }}" href="{{ product.url }}">
            View product
          </a>
        </article>
      {% endfor %}
    </section>
  </div>
</section>

{% schema %}
  {
    "name": "Featured products",
    "templates": [
      "index", "page", "product"
    ],
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Featured products"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Check out our latest products"
      },
      {
        "type": "product_list",
        "id": "product_list",
        "label": "Products",
        "limit": 3
      },
      {
        "type": "select",
        "id": "text",
        "label": "Text",
        "default": "text-neutral-content",
        "options": [
          {
            "label": "neutral-content",
            "value": "text-neutral-content"
          },
          {
            "label": "base-content",
            "value": "text-base-content"
          },
          {
            "label": "primary-content",
            "value": "text-primary-content"
          },
          {
            "label": "secondary-content",
            "value": "text-secondary-content"
          }, {
            "label": "accent-content",
            "value": "text-accent-content"
          }
        ]
      }, {
        "type": "select",
        "id": "background",
        "label": "Background",
        "default": "bg-base-100",
        "options": [
          {
            "label": "base-100",
            "value": "bg-base-100"
          },
          {
            "label": "base-200",
            "value": "bg-base-200"
          },
          {
            "label": "base-300",
            "value": "bg-base-300"
          },
          {
            "label": "neutral",
            "value": "bg-neutral"
          }, {
            "label": "primary",
            "value": "bg-primary"
          }, {
            "label": "secondary",
            "value": "bg-secondary"
          }, {
            "label": "accent",
            "value": "bg-accent"
          }
        ]
      }, {
        "type": "select",
        "id": "button_variant",
        "label": "Button Variant",
        "default": "btn",
        "options": [
          {
            "label": "btn",
            "value": "btn"
          },
          {
            "label": "btn-neutral",
            "value": "btn btn-neutral"
          },
          {
            "label": "btn-primary",
            "value": "btn btn-primary"
          },
          {
            "label": "btn-secondary",
            "value": "btn btn-secondary"
          }, {
            "label": "btn-accent",
            "value": "btn btn-accent"
          }, {
            "label": "bth-ghost",
            "value": "btn btn-ghost"
          }, {
            "label": "btn-link",
            "value": "btn btn-link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured products",
        "category": "Products"
      }
    ]
  }
{% endschema %}