<footer class="footer p-10 {{ section.settings.background }}">
  <div>
    <img
      class="w-32 h-16 object-cover"
      src="{{ section.settings.logo | img_url: '200x200' }}"
      alt="{{ section.settings.title }} logo" />

    <p class="max-w-prose {{ section.settings.text }}">{{ section.settings.title }}<br/>{{ section.settings.subtitle }}</p>

    <ul class="flex gap-2 flex-wrap" role="list">
      {% for type in shop.enabled_payment_types %}
        <li role="listitem">
          {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
        </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <span class="footer-title">Services</span>
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </div>
  <div>
    <span class="footer-title">Company</span>
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </div>
  <div>
    <span class="footer-title">Legal</span>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "templates": [
      "index", "page", "product", "list-collections"
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Company name"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "Company slogan"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }, {
        "type": "select",
        "id": "text",
        "label": "Text",
        "default": "text-neutral-content",
        "options": [
          {
            "label": "neutral-content",
            "value": "text-neutral-content"
          },
          {
            "label": "base-content",
            "value": "text-base-content"
          },
          {
            "label": "primary-content",
            "value": "text-primary-content"
          },
          {
            "label": "secondary-content",
            "value": "text-secondary-content"
          }, {
            "label": "accent-content",
            "value": "text-accent-content"
          }
        ]
      }, {
        "type": "select",
        "id": "background",
        "label": "Background",
        "default": "bg-base-100",
        "options": [
          {
            "label": "base-100",
            "value": "bg-base-100"
          },
          {
            "label": "base-200",
            "value": "bg-base-200"
          },
          {
            "label": "base-300",
            "value": "bg-base-300"
          },
          {
            "label": "neutral",
            "value": "bg-neutral"
          }, {
            "label": "primary",
            "value": "bg-primary"
          }, {
            "label": "secondary",
            "value": "bg-secondary"
          }, {
            "label": "accent",
            "value": "bg-accent"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Footer",
        "category": "Footer"
      }
    ]
  }
{% endschema %}