<div class="relative {{ section.settings.background }}" style="min-height: 50vh">
  <div class="isolate px-6 lg:px-8">
    {% if section.settings.image %}
      <div class="absolute top-0 left-0 right-0 bottom-0 bg-cover bg-center" style="z-index: 5; background-image: url({{ section.settings.image | img_url: '1200x1200' }})"></div>
      <div
        id="backdrop"
        class="absolute top-0 left-0 right-0 bottom-0"
        style="z-index: 6; background-color: rgba(0, 0, 0, {{ section.settings.opacity }}%)"></div>
    {% endif %}

    <div class="flex items-center justify-center text-center mx-auto max-w-2xl py-32 sm:py-48 lg:py-56 absolute top-0 left-0 right-0 bottom-0" style="z-index: 7">
      <div class="text-center">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'text' %}
            <p class="{{ block.settings.text_color }} {{ block.settings.font_size }} {{ block.settings.font_weight }}" style="padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px; margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px">
              {{ block.settings.text }}
            </p>
          {% endcase %}
        {% endfor %}

        <div class="flex items-center justify-center gap-x-6">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'button' %}
              <a
                href="{{ block.settings.url }}"
                class="{{ block.settings.primary_button_variant }}"
                style="padding-top: {{ block.settings.padding_top }}px; padding-bottom: {{ block.settings.padding_bottom }}px; margin-top: {{ block.settings.margin_top }}px; margin-bottom: {{ block.settings.margin_bottom }}px">
                {{ block.settings.text }}
              </a>
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Hero section",
    "templates": [
      "index", "page", "product"
    ],
    "blocks": [
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Check out our latest products"
          },
          {
            "type": "select",
            "id": "text_color",
            "label": "Text color",
            "default": "text-neutral-content",
            "options": [
              {
                "label": "neutral-content",
                "value": "text-neutral-content"
              },
              {
                "label": "base-content",
                "value": "text-base-content"
              },
              {
                "label": "primary-content",
                "value": "text-primary-content"
              },
              {
                "label": "secondary-content",
                "value": "text-secondary-content"
              }, {
                "label": "accent-content",
                "value": "text-accent-content"
              }
            ]
          },
          {
            "type": "select",
            "id": "font_size",
            "label": "Font size",
            "default": "text-base",
            "options": [
              {
                "label": "xs",
                "value": "text-xs"
              },
              {
                "label": "sm",
                "value": "text-sm"
              },
              {
                "label": "base",
                "value": "text-base"
              },
              {
                "label": "lg",
                "value": "text-lg"
              }, {
                "label": "xl",
                "value": "text-xl"
              }, {
                "label": "2xl",
                "value": "text-2xl"
              }, {
                "label": "3xl",
                "value": "text-3xl"
              }, {
                "label": "4xl",
                "value": "text-4xl"
              }, {
                "label": "5xl",
                "value": "text-5xl"
              }, {
                "label": "6xl",
                "value": "text-6xl"
              }, {
                "label": "7xl",
                "value": "text-7xl"
              }, {
                "label": "8xl",
                "value": "text-8xl"
              }, {
                "label": "9xl",
                "value": "text-9xl"
              }
            ]
          },
          {
            "type": "select",
            "id": "font_weight",
            "label": "Font Weight",
            "default": "font-normal",
            "options": [
              {
                "label": "thin",
                "value": "font-thin"
              },
              {
                "label": "extralight",
                "value": "font-extralight"
              },
              {
                "label": "light",
                "value": "font-light"
              },
              {
                "label": "normal",
                "value": "font-normal"
              }, {
                "label": "medium",
                "value": "font-medium"
              }, {
                "label": "semibold",
                "value": "font-semibold"
              }, {
                "label": "extrabold",
                "value": "font-extrabold"
              }, {
                "label": "black",
                "value": "font-black"
              }
            ]
          }, {
            "type": "number",
            "id": "padding_top",
            "label": "Padding Top",
            "default": 0
          }, {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": 0
          }, {
            "type": "number",
            "id": "margin_top",
            "label": "Margin Top",
            "default": 0
          }, {
            "type": "number",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "default": 0
          }
        ]
      }, {
        "name": "Button",
        "type": "button",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "URL",
            "default": "/collections/all"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Button Text",
            "default": "Products"
          },
          {
            "type": "select",
            "id": "primary_button_variant",
            "label": "Primary Button Variant",
            "default": "btn",
            "options": [
              {
                "label": "btn",
                "value": "btn"
              },
              {
                "label": "btn-neutral",
                "value": "btn btn-neutral"
              },
              {
                "label": "btn-primary",
                "value": "btn btn-primary"
              },
              {
                "label": "btn-secondary",
                "value": "btn btn-secondary"
              }, {
                "label": "btn-accent",
                "value": "btn btn-accent"
              }, {
                "label": "bth-ghost",
                "value": "btn btn-ghost"
              }, {
                "label": "btn-link",
                "value": "btn btn-link"
              }
            ]
          },
          {
            "type": "number",
            "id": "padding_top",
            "label": "Padding Top",
            "default": 0
          }, {
            "type": "number",
            "id": "padding_bottom",
            "label": "Padding Bottom",
            "default": 0
          }, {
            "type": "number",
            "id": "margin_top",
            "label": "Margin Top",
            "default": 0
          }, {
            "type": "number",
            "id": "margin_bottom",
            "label": "Margin Bottom",
            "default": 0
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      }, {
        "type": "range",
        "id": "opacity",
        "label": "Background opacity",
        "default": 50,
        "min": 0,
        "max": 100,
        "step": 1
      }, {
        "type": "select",
        "id": "background",
        "label": "Background",
        "default": "bg-base-100",
        "options": [
          {
            "label": "base-100",
            "value": "bg-base-100"
          },
          {
            "label": "base-200",
            "value": "bg-base-200"
          },
          {
            "label": "base-300",
            "value": "bg-base-300"
          },
          {
            "label": "neutral",
            "value": "bg-neutral"
          }, {
            "label": "primary",
            "value": "bg-primary"
          }, {
            "label": "secondary",
            "value": "bg-secondary"
          }, {
            "label": "accent",
            "value": "bg-accent"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero section",
        "category": "Hero",
        "settings": {}
      }
    ]
  }
{% endschema %}